@import url('https://fonts.googleapis.com/css?family=Lobster');

body{
	background-color:rgb(30, 130, 76);
}
#settings-tab{
	background-color:#2c3e50;
	z-index: 1;
	
}
#filter-tab{
	background-color: #2c3e50;
	z-index:2;
}
#help-tab{
	background-color: #2c3e50;
	z-index: 3;+
}
.menu > div{
    height: 33.3vh;
    line-height: 80px;
    font-size: 20px;
    text-align: center;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px; 
}
.menu > div:hover{
    outline: 0;
    cursor: pointer;
	color: white;
}
.menu{
    height: 100vh;
    background-color: #d4d4d4;
    width: 80px;
    z-index: 5;
    position: absolute;
}
#settings{
    background-color: #90cc75;
}
#filter{
    background-color: #73ba53;
}
#help{
    background-color: #5d9f3f;
}
#tabs{
    padding: 0px;
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0px;
    z-index: 1;
    padding-left: 80px;
    
}
.menu > * > .fa{
	font-size: 60px !important;
    line-height: 33vh !important;
}
.tab{
    width: 100%;
    height: 100%;
    padding: 15px;
    left: 0px;
    top: 0px;
    /* position: absolute; */
    display: none;
	color: white;
}

.active{
	background-color: #2c3e50 !important;
	border-radius: 0px !important;
	color: white !important;
}

.heading{
	font-family: Lobster;
	margin-top: 3%;
	margin-left: 3%;
	font-size: 60px;
}

.timer-options{
    margin-top: 2%;
    margin-left: 10%;
    overflow-y: auto;
    height: 80%;
}

.radio{
	font-size: 20px;
}
.filterlist-box{
    margin-top: 20px;
    height: 80vh;
    overflow-y: scroll;
    padding: 50px;
}
.filterlist-box > div{
    padding: 10px;
    min-width: 150px;
}
.filterlist-box > div > div{
    border: 1px solid white;
    padding: 5px;
}
.filterlist-box > div > div > i{
    line-height: 20px;
    float: right;
    cursor: pointer;
}
.filterlist-box > div > div > input{
    width: calc(100% - 25px);
    color: white;
    background-color: rgba(255, 255, 255, 0.15);
    border: 0px;
}
.filterlist-box > div > div > input:active{
    border-color: #555;
}
 
.radio > p{
    padding: 15px;
    padding-right: 30px;
}
.timerElement{
    padding: 20px;
    cursor: pointer;
    display: inline-block;
    margin: 20px;
}
.timerElementActive{
    background-color: rgba(0, 0, 0, 0.22);
    display: inline-block;
    border-left: 2px white solid;
    cursor: default;
}
.timerElement > div {
    padding: 11px;
    border: 1px white solid;
    display: inline-block;
    margin-left: 15px;
}
.timerElement > div > span{
    margin: 15px;
    padding: 5px;
    background-color: rgba(255, 255, 255, 0.13);
}
.timerElement > div > span > input{
    background-color: transparent;
    border: 0pc;
    width: 20px;
    text-align: center;
}
.timerElement > h3{
    top: 0px;
    margin-top: 5px;
}
.newTimeOption{
    cursor: default;
}
.timerElement > h3 > i{
    float: right;
    cursor: pointer;
}
.newTimeOptionName {
    background-color: rgba(255, 255, 255, 0.09);
    border: 0px;
    margin: 15px;
    padding: 5px;
}
.newTimeOptionSave{
    margin: 15px;
    padding: 5px;
    background-color: rgba(255, 255, 255, 0.12);
    display: table;
    color: #d6d6d6;
    cursor: pointer;
}
.domain-statistic{
    padding: 30px;
}
.statistic-element{
    padding: 5px;
    box-shadow: inset 0px 0px 1px 1px rgba(255, 255, 255, 0.2);
    margin: 5px;
    position: relative;
}
.statistic-element > div{
    background-color: rgba(255, 255, 255, 0.22);
    height: 100%;
    position: absolute;
    margin: -5px;
    border-right: 3px solid white;
    transition: width 10s;
}
.statistic-element > span{
    margin-left: 30px;
}
::-webkit-scrollbar {
  width: 5px;
}
 
::-webkit-scrollbar-track {
  background: rgba(217, 217, 217, 0.21);
}
 

::-webkit-scrollbar-thumb {
  background: #666; 
}
    